@use '../variables' as *;
@use '../media' as *;

.modal {
  margin: auto;
  background-color: $white;
  border-radius: 24px;
  max-width: 676px;
  min-height: 459px;
  box-shadow: 0 0 32px rgba(black, 0.15);

  display: flex;
  // overflow: hidden;
  // align-items: center;
  // justify-content: center;

  &:before {
    content: '';
    // display: block;
    flex: 0 0 48%;
  }

  &__content {
    padding: 24px;
    flex: 0 0 52%;
  }

  &__title {
    font-size: 24px;
  }

  &__cart-list {
  }

  &__cart-item {
  }

  &__cart-item-image {
  }

  &__cart-item-title {
  }

  &__cart-item-count {
  }

  &__minus {
  }

  &__count {
  }

  &__plus {
  }

  &__cart-item-price {
  }

  &__cart-form {
  }

  &__cart-fieldset {
  }

  &__cart-description {
  }

  &__radio {
  }

  &__cart-cellar {
  }

  &__cart-button {
  }

  &__cart-price {
  }
}
