@use '../variables' as *;
@use '../media' as *;
@use '../fonts' as *;

.store {
  padding-top: 120px;
  padding-bottom: 120px;
  &__nav {
    display: flex;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__categories-list {
    display: flex;
    gap: 28px;
  }

  &__category-item {
  }

  &__category-button {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    color: $carrot;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      height: 1px;
      left: 0;
      right: 0;
      // background-color: transparent;
      background-color: $green;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      border-bottom: 1px solid $carrot;
    }

    &_active {
      color: $green;
      border-bottom: 1px solid transparent;

      &::after {
        // background-color: $green;
        transform: scaleX(1);
      }
      &:hover {
        border-bottom: 1px solid $green;
      }
    }
  }

  &__cart {
    &-button {
      position: relative;
      width: 28px;
      height: 28px;

      @include bigscreen {
        width: 42px;
        height: 42px;
      }
    }

    &-count {
      position: absolute;
      z-index: 2;
      inset: 0;
      font-size: 12px;
      font-weight: 700;
      color: $light;
      line-height: 1;
      top: 50%;
      transform: translateY(-20%);

      @include bigscreen {
        font-size: 18px;
      }
    }
    &-icon {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 52px;
    color: $green;
    margin-bottom: 32px;
    @include tablet {
      font-size: 40px;
    }
    @include mobile {
      font-size: 28px;
    }
  }

  &__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    justify-content: center;
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__card-item {
    display: flex;
  }
}
